<div class="DataUser">
  <div class="content">
    <h2>Bienvenido De Nuevo</h2> 
    <h2>Bienvenido De Nuevo</h2>
  </div>
  <!-- <p class="PUser">Hola Hola Hola</p> -->
    <p class="PUser">{{dataUser?.email}}</p>
    <div class="text-end">
      <button type="button" class="btn m-3 btn-deg" (click)="logOut()">Cerrar Sección</button>
    </div>
</div>

<p>Ahora puedes agregar productos al carrito</p>
<div class="carrito">
    <h1 style="color: white;" class="mt-3">Carrito de compras</h1>
    <table class="table table-primary table-striped">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio Unitario</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let beer of beers">
        <tr>
          <td>{{beer.name}}</td>
          <td>{{beer.quantity}}</td>
          <td>{{beer.price}}</td>
        </tr>
        </ng-container>
      </tbody>
    </table>
    <p class="text-end mt-4">Total {{total}}</p>
  <div class="text-end">
      <button class="btn btn-success">Comprar</button>
  </div>
</div>

<div class="details">
    <!--Details Menú Pizza-->
    <details>
        <summary>Menu Pizzas </summary>
        <div>
          <img class="img-navMenu" src="{{menuPizzas.Pizza}}" alt="Menu Pizzas">
        </div>
  
        <div>
          <!-- Pizzas 1 Igrediente -->
          <details>
            <summary>Con 1 Igrediente</summary>
            <div class="flex">
                
              <!--  Pizza Pepperoni  -->
            <div class="menuItems">
              <div class="title">
                <p>Pepperoni</p>
                <hr>
              </div>
              <div class="menu">
                <img src="{{menuPizzas.AP1IgPepperoni}}" alt="Pizza Pepperoni" class="menuImg">
                <p class="P-menu">Pizza 1 Ingrediente – Pepperoni</p>
                <p class="P-menu pb-3" style="color: red;">$99.00 Mxn</p>
                <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
              </div>
            </div>
  
             <!--  Pizza Jamón   -->
             <div class="menuItems desing-flex">
              <div class="title">
                <p>Jamón</p>
                <hr>
              </div>
              <div class="menu">
                <img src="{{menuPizzas.AP1IgJamon}}" alt="Pizza Jamón" class="menuImg">
                <p class="P-menu">Pizza 1 Ingrediente – Jamón </p>
                <p class="P-menu pb-3" style="color: red;">$99.00 Mxn</p>
                <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
              </div>
             </div>
  
            <!--  Pizza Queso  -->
            <div class="menuItems"> <!--Aquí se obto por colocar el estilo "h-auto" en vez de "desing-flex" para un tamaño correcto-->
              <div class="title">
                <p>Queso</p>
                <hr>
              </div>
              <div class="menu">
                <img src="{{menuPizzas.AP1IgQueso}}" alt="Pizza Queso" class="menuImg">
                <p class="P-menu">Pizza 1 Ingrediente – Queso</p>
                <p class="P-menu pb-3" style="color: red;">$99.00 Mxn</p>
                <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
              </div>
            </div>
            </div>
          </details>
        </div> <!--Div Container Mayor-->
  
        <div>
          <!-- Pizzas Especialidad A -->
          <details>
            <summary>Especialidad A</summary>
            <div class="flex"> <!--Div mayor-->
  
                    <!--Pizza Hawaina-->
              <div class="menuItems">
                <div class="title">
                  <p>Hawaiana</p>
                  <hr>
                </div>
                <div class="menu">
                  <img src="{{menuPizzas.BPEHawaiana}}" alt="Pizza Hawaiana" class="menuImg">
                  <p class="P-menu">Pizza Especialidad – Hawaiana</p>
                  <p class="P-menu" style="color: red;">$155.00 Mxn</p>
                  <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
                </div>
              </div>
              
                <!--Pizza Mexicana -->
              <div class="menuItems">
                <div class="title">
                  <p>Mexicana</p>
                  <hr>
                </div>
                <div class="menu">
                  <img src="{{menuPizzas.BPEMexicana}}" alt="Pizza Mexicana" class="menuImg">
                  <p class="P-menu">Pizza Especialidad – Mexicana</p>
                  <p class="P-menu" style="color: red;">$155.00 Mxn</p>
                  <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
                </div>
              </div>
  
                <!--Pizza Vegetariana -->
              <div class="menuItems">
                <div class="title">
                  <p>Vegetariana</p>
                  <hr>
                </div>
                <div class="menu">
                  <img src="{{menuPizzas.BPEVegetariana}}" alt="Pizza Vegetariana" class="menuImg">
                  <p class="P-menu">Pizza 1 Ingrediente – Vegetariana</p>
                  <p class="P-menu" style="color: red;">$155.00 Mxn</p>
                  <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
                </div>
              </div>
  
             <!--Pizza 3 Carnes -->
            <div class="menuItems">
              <div class="title">
                <p>3 Carnes</p>
                <hr>
              </div>
              <div class="menu">
                <img src="{{menuPizzas.BPE3Carnes}}" alt="Pizza Hawaiana" class="menuImg">
                <p class="P-menu">Pizza 1 Ingrediente – 3 Carnes</p>
                <p class="P-menu" style="color: red;">$155.00 Mxn</p>
                <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
              </div>
            </div>
          </div>
          </details>
        </div>
  
        <div>
          <!-- Pizzas Especialidad B -->
          <details>
            <summary>Especialidad B</summary>
            <div class="flex">
                  <!--Pizza Suprema-->
              <div class="menuItems">
                <div class="title">
                  <p>Suprema</p>
                  <hr>
                </div>
                <div class="menu">
                  <img src="{{menuPizzas.CPESuprema}}" alt="Pizza Mexicana" class="menuImg">
                  <p class="P-menu">Pizza Especialidad – Mexicana</p>
                  <p class="P-menu" style="color: red;">$165.00 Mxn</p>
                  <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
                </div>
              </div>
              
                  <!--Pizza Tropical -->
              <div class="menuItems">
                <div class="title">
                  <p>Tropical</p>
                  <hr>
                </div>
                <div class="menu">
                  <img src="{{menuPizzas.CPETropical}}" alt="Pizza Tropical" class="menuImg">
                  <p class="P-menu">Pizza Especialidad – Tropical</p>
                  <p class="P-menu" style="color: red;">$165.00 Mxn</p>
                  <button type="button" class="btn btn-success btn-card mt-2" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
                </div>
              </div>
            </div>

          </details>
        </div>
    </details>
    
    <!--Details Menú Bebidas-->
    <details>
      <summary>Menu Bebidas </summary>
      <div>
        <img class="img-navMenu" src="{{refrescos.Refrescos}}" alt="Menu Refrescos">
      </div>
  
      <div>
        <!-- Bebidas - Refrescos -->
        <details>
          <summary>Refrescos</summary>
                 <!--  Refreso 1Lt  -->
            <div class="menuItems-Refrescos">
              <div class="title-Refrescos">
                <p>1L</p>
                <hr>
              </div>
              <div class="menu">
                <img src="{{refrescos.RefrescosCocaCola}}" alt="Refreso 1Lt" class="img-navMenu-Refrescos">
                <p class="P-menu">1 Litro</p>
                <p class="P-menu pb-3" style="color: red;">$25.00 Mxn</p>
                <button type="button" class="btn btn-success btn-card" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
              </div>
            </div>
  
              <!--  Refreso 1.5 Lt  -->
            <div class="menuItems-Refrescos">
              <div class="title-Refrescos">
                <p>1.5 L</p>
                 <hr>
              </div>
              <div class="menu">
                <img src="{{refrescos.RefrescosCocaCola}}" alt="Refreso 1Lt" class=" img-navMenu-Refrescos">
                <p class="P-menu">1.5 Litros</p>
                <p class="P-menu pb-3" style="color: red;">$30.00 Mxn</p>
                <button type="button" class="btn btn-success btn-card" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
               </div>
            </div>
  
          <!--  Refreso 2 Lt  -->
          <div class="menuItems-Refrescos">
            <div class="title-Refrescos">
              <p>2 L</p>
               <hr>
            </div>
            <div class="menu">
              <img src="{{refrescos.RefrescosCocaCola}}" alt="Refreso 1Lt" class=" img-navMenu-Refrescos">
              <p class="P-menu">2 Litros</p>
              <p class="P-menu pb-3" style="color: red;">$40.00 Mxn</p>
              <button type="button" class="btn btn-success btn-card" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
             </div>
          </div>
  
          <!--  Refreso 600 Ml -->
          <div class="menuItems-Refrescos">
            <div class="title-Refrescos">
              <p>600 Ml</p>
               <hr>
            </div>
            <div class="menu">
              <img src="{{refrescos.RefrescosCocaCola}}" alt="Refreso 1Lt" class=" img-navMenu-Refrescos">
              <p class="P-menu">600 Ml</p>
              <p class="P-menu pb-3" style="color: red;">$20.00 Mxn</p>
              <button type="button" class="btn btn-success btn-card" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
             </div>
          </div>
        
         <!--  Refreso 500 Ml -->
         <div class="menuItems-Refrescos">
          <div class="title-Refrescos">
            <p>500 Ml</p>
             <hr>
          </div>
          <div class="menu">
            <img src="{{refrescos.RefrescosCocaCola}}" alt="Refreso 1Lt" class=" img-navMenu-Refrescos">
            <p class="P-menu">500 Ml</p>
            <p class="P-menu pb-3" style="color: red;">$15.00 Mxn</p>
            <button type="button" class="btn btn-success btn-card" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
           </div>
        </div> 
  
        <!--  Refreso Lata -->
           <div class="menuItems-Refrescos">
            <div class="title-Refrescos">
              <p>Lata</p>
               <hr>
            </div>
            <div class="menu">
              <img src="{{refrescos.RefrescosLata}}" alt="Refreso 1Lt" class=" img-navMenu-Refrescos">
              <p class="P-menu">Lata</p>
              <p class="P-menu pb-3" style="color: red;">$15.00 Mxn</p>
              <button type="button" class="btn btn-success btn-card" (click)="addCart()"> <i class="bi bi-cart-check"> Añadir Al Carrito</i></button>
             </div>
          </div> 
        </details>
  
        <!-- Bebidas - Agua -->
        <details>
          <summary>Agua Ciel</summary>
                  <!--  Agua Ciel 1Lt  -->
            <div class="menuItems-Refrescos">
              <div class="title-Refrescos">
                <p>Sabores 1Lt</p>
                 <hr>
              </div>
              <div class="menu">
                <img src="{{refrescos.AguaCielSabores}}" alt="Refreso 1Lt" class=" img-navMenu-Refrescos">
                <p class="P-menu">Agua Ciel - Sabores - 1Lt</p>
                <p class="P-menu pb-3" style="color: red;">$20.00 Mxn</p>
                <button type="button" class="btn btn-success btn-card" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
               </div>
              </div>
  
              <!--  Agua Ciel 1Lt  -->
            <div class="menuItems-Refrescos">
              <div class="title-Refrescos">
                <p>Agua 1Lt</p>
                 <hr>
              </div>
              <div class="menu">
                <img src="{{refrescos.AguaCiel}}" alt="Refreso 1Lt" class=" img-navMenu-Refrescos">
                <p class="P-menu">Agua Ciel 1Lt</p>
                <p class="P-menu pb-3" style="color: red;">$20.00 Mxn</p>
                <button type="button" class="btn btn-success btn-card" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
               </div>
              </div>
        </details>

        <!-- Bebidas - Jugos -->
        <details>
          <summary>Jugos</summary>
                  <!--  Agua Ciel 1Lt  -->
            <div class="menuItems-Refrescos">
              <div class="title-Refrescos">
                <p>Fuze Tea</p>
                 <hr>
              </div>
              <div class="menu">
                <img src="{{refrescos.FuzeTea}}" alt="Refreso 1Lt" class=" img-navMenu-Refrescos">
                <p class="P-menu">Fuze Tea - 1Lt</p>
                <p class="P-menu pb-3" style="color: red;">$20.00 Mxn</p>
                <button type="button" class="btn btn-success btn-card" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
               </div>
              </div>
  
              <!--  Jugos del valle  -->
            <div class="menuItems-Refrescos">
              <div class="title-Refrescos">
                <p>Del Valle</p>
                 <hr>
              </div>
              <div class="menu">
                <img src="{{refrescos.JugosDelValle}}" alt="Refreso 1Lt" class=" img-navMenu-Refrescos">
                <p class="P-menu">Jugos del valle</p>
                <p class="P-menu pb-3" style="color: red;">$20.00 Mxn</p>
                <button type="button" class="btn btn-success btn-card" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
               </div>
              </div>
        </details>
      </div>
    </details>
  
     <!--Details Menú Combos-->
     <details>
      <summary>Menu Combos </summary>
      <div>
        <img class="img-navMenu" [src]="Combos" alt="Menu Combos"> 
        <br>
      </div>
      <br><br><br><br>
  
      <table lang="es" class="table table-bordered table-hover align-items-center table-responsive">
        <thead class="table-red">
          <tr class="tr-Titulo">
            <th scope="col"> Nombre</th>
            <th scope="col"> Precio</th>
            <th scope="col"> Descripción </th>
            <th scope="col"> Agregar al Carrito</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let Combos of Menu">
            <td>{{Combos.Id}}</td>
            <td>{{Combos.Precio}}</td>
            <td>{{Combos.Descripcion}} <br/> </td> 
            <a class="btn btn-success active" role="button" (click)="addCart()">Añadir al carrito</a>
          </tr>
        </tbody>
      </table>
    </details>
  
    <!--Details Menú Aderezos -->
    <details>
      <summary>Menu Aderezos  </summary>
      <div>
        <img class="img-navMenu" [src]="Aderezos" alt="Menu Aderezos ">
      </div>
  
      <table class="table table-hover table-bordered table-Aderezos">
        <thead>
          <tr class="table-green">
            <th scope="col">Nombre</th>
            <th scope="col">Añadir al carrito</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Tomate</th>
            <a class="btn btn-success active btn-card-aderezos" role="button"> <i class="bi bi-cart-check" (click)="addCart()"></i></a>
          </tr>
  
          <tr>
            <th scope="row">Ranch</th>
            <a class="btn btn-success active btn-card-aderezos" role="button"><i class="bi bi-cart-check" (click)="addCart()"></i></a>
          </tr>
  
          <tr>
            <th scope="row">Búfalo</th>
            <a class="btn btn-success active btn-card-aderezos" role="button"><i class="bi bi-cart-check" (click)="addCart()"></i></a>
          </tr>
  
          <tr>
            <th scope="row">Chipotle</th>
            <a class="btn btn-success active btn-card-aderezos" role="button"><i class="bi bi-cart-check" (click)="addCart()"></i></a>
          </tr>
  
          <tr>
            <th scope="row">Queso Amarrillo</th>
            <a class="btn btn-success active btn-card-aderezos" role="button"><i class="bi bi-cart-check" (click)="addCart()"></i></a>
          </tr>
  
          <tr>
            <th scope="row">Lemon Pepper</th>
            <a class="btn btn-success active btn-card-aderezos" role="button"><i class="bi bi-cart-check" (click)="addCart()"></i></a>
          </tr>
        </tbody>
      </table>
    </details>
  
    <!--Details Menú Complementos-->
    <details>
      <summary>Menu Complementos </summary>
      <div>
        <img class="img-navMenu" src="{{complementos.Complementos}}" alt="Menu Complementos">
      </div>
      <div>  
          <div>
            <!-- Extras -->
            <details>
              <summary>Extras</summary>
              <div class="flex">
                  
                <!--  Extras - Alitas  -->
              <div class="menuItems2">
                <div class="title">
                  <p>Alitas</p>
                  <hr>
                </div>
                <div class="menu">
                  <img src="{{complementos.CAAlitas}}" alt="Extras Alitas" class="ImgEx">
                  <p class="P-menu" style="color: red;">$99.00 Mxn</p>
                  <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
                </div>
              </div>
              
               <!--  Extras - Boneless  -->
              <div class="menuItems2">
                <div class="title">
                  <p>Boneless</p>
                  <hr>
                </div>
                <div class="menu">
                  <img src="{{complementos.CBBoneless}}" alt="Extras Boneless" class="ImgEx">
                  <p class="P-menu" style="color: red;">$99.00 Mxn</p>
                  <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
                </div>
              </div>
              
              <!--  Extras - DedosDeQueso  -->
              <div class="menuItems2">
                <div class="title">
                  <p class="h6">Dedos De Queso</p>
                  <hr>
                </div>
                <div class="menu">
                  <img src="{{complementos.CFDedosDeQueso}}" alt="Extras Dedos De Queso" class="ImgEx">
                  <p class="P-menu" style="color: red;">$50.00 Mxn</p>
                  <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
                </div>
              </div>

              <!--  Extras - Espagueti  -->
              <div class="menuItems2">
                <div class="title">
                  <p>Espagueti</p>
                  <hr>
                </div>
                <div class="menu">
                  <img src="{{complementos.CGEspagueti}}" alt="Extras Espagueti" class="ImgEx">
                  <p class="P-menu" style="color: red;">$50.00 Mxn</p>
                  <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
                </div>
              </div>

              <!--  Extras - Pan Con Ajo  -->
              <div class="menuItems2">
                <div class="title">
                  <p class="h6">Pan Con Ajo</p>
                  <hr>
                </div>
                <div class="menu">
                  <img src="{{complementos.CHPanConAjo}}" alt="Extras Pan Con Ajo" class="ImgEx">
                  <p class="P-menu" style="color: red;">$40.00 Mxn</p>
                  <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
                </div>
              </div>

              
              <!--  Extras - Tenderso  -->
              <div class="menuItems2">
                <div class="title">
                  <p>Tenders</p>
                  <hr>
                </div>
                <div class="menu">
                  <img src="{{complementos.CITenders}}" alt="Extras Tenders" class="ImgEx">
                  <p class="P-menu" style="color: red;">$99.00 Mxn</p>
                  <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
                </div>
              </div>
              </div>
            </details>
          </div> <!--Div Container Mayor-->
      
      </div>
  
      <div>
        <details>
          <summary>Papas</summary>
          <div class="flex">
            <!--  Extras -> Papas en Gajo   -->
            <div class="menuItems2">
              <div class="title-Refrescos">
                <p>En Gajo</p>
                <hr>
              </div>
              <div class="menu">
                <img src="{{complementos.CCPapasEnGajo}}" alt="Papas en Gajo" class="ImgEx">
                <p class="P-menu" style="color: red;">$55.00 Mxn</p>
                <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
              </div>
            </div>
    
             <!--  Extras -> CONOPAPAS   -->
             <div class="menuItems2">
              <div class="title-Refrescos">
                <p>CONOPAPAS</p>
                <hr>
              </div>
              <div class="menu">
                <img src="{{complementos.CDConopapa}}" alt="CONOPAPAS" class="ImgEx">
                <p class="P-menu" style="color: red;">$85.00 Mxn</p>
                <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
              </div>
            </div>
    
            <!--  Extras -> CEPapasCriscut   -->
            <div class="menuItems2">
              <div class="title-Refrescos">
                <p>Criscut</p>
                <hr>
              </div>
              <div class="menu">
                <img src="{{complementos.CEPapasCriscut}}" alt="Criscut" class="ImgEx">
                <p class="P-menu" style="color: red;">$55.00 Mxn</p>
                <button type="button" class="btn btn-success btn-card mt-1" (click)="addCart()"> <i class="bi bi-cart-check"></i> Añadir Al Carrito</button>
              </div>
            </div>
          </div>
  
        </details>
      </div>
  </details>
</div>

