/*      Archivo princial     */

// Estilos globales
p {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

//Cart Productos
details {
    background-color: rgb(255, 102, 0);
    width: 250px;
    height: auto;
    border-radius: 30px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    margin: 5px 0 5px 0;
}

summary {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin: 15px;
    font-style: italic;
    font-weight: bold;
}

details>img {
    max-width: 100px;
    max-height: 100px;
}

h5 {
    color: #fff;
    font-size: 20px;
}

span {
    font-weight: bold;
    font-size: 20px;
    color: rgb(218, 216, 216);
    text-shadow: 0.1em 0.1em 0.05em #333;
}

span>strong {
    font-weight: bold;
    font-size: 20px;
    color: rgb(218, 216, 216);
    text-shadow: 0.1em 0.1em 0.05em #333;
}

.btn-card {
    border-radius: 20px;
    padding: 0 auto;
    margin-right: 10px;
    height: 40px;
    float: right;
    margin: 20px;
}
//Fin Cart Productos

//addCart
@media screen and (max-width: 800px){
    .appcart{
        margin: 0 auto;
        max-width: 250px;
        margin-left: 50%;
    }
}
    