<div class="alert alert-atention alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <strong>¡Atención!</strong> <br> <p class="fs-3">Ya puedes pedir con servicio a domicilio</p>   
</div>

<div class="DataUser">
  <div class="content">
    <h2>Bienvenido De Nuevo</h2> 
    <h2>Bienvenido De Nuevo</h2>
  </div>
  <!-- <p class="PUser">Hola Hola Hola</p> -->
    <p class="PUser">{{dataUser?.email}}</p>

    <div class="text-end">
      <button type="button" class="btn m-3 btn-deg" (click)="gotoPerfil()">Ver Mi Perfil</button> 
      <button type="button" class="btn m-3 btn-deg" (click)="logOut()">Cerrar Sección</button>
    </div>
</div>

<img [src]="menuCompleto" alt="Menu Completo" class="menuCompleto">

<div class="row">
  <app-cart></app-cart>
</div>

<div class="row">
  <div *ngFor="let Producto of productos" class="col-lg-3 col-sm-1">
    <details>
      <summary>{{Producto.nombre}}</summary>
        <img [src]="Producto.img" alt="">
        <h5>{{Producto.descripcion}}</h5>
        <span><strong>Precio: </strong>{{Producto.precio | currency}} Mnx</span>
        <br>
        <div class="input-group input-group-sm mb-3">
          <!-- <button type="button" class="btn btn-light" (click)="downQuantity(productos)">-</button> -->
          <!-- <input class="form-control form-control-sm" type="number" [(ngModel)]="Producto.items" (focusout)="verifyBeerQuantity(productos)"/> -->
          <!-- <button type="button" class="btn btn-light" (click)="upQuantity(productos)" >+</button> -->
        </div>
    </details>
  </div>
</div>
