<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="{{imgLogo}}" alt="logo Pizza Peppe" class="logo">
                </a>
            </figure>
    
        </div>
        <div class="box">
            <h2>Ayuda y Servicio</h2>
            <a href="#">Trabaja con Nosotros</a>
        </div>
        
        <div class="box">
            <h2>Nuestras Redes Sociales</h2>
            <div class="red-social">
                <a href="#">
                    <i class="bi bi-facebook"></i>
                    <!--<img class="iRs IRsFb" src="{{logoFb}}" alt="">-->
                    <!-- <ion-icon name="logo-facebook" size="large"></ion-icon> -->
                </a>
                <a href="#">
                    <i class="bi bi-instagram"></i>
                    <!--<img class="iRs" src="{{logoIg}}" alt="">-->
                    <!-- <ion-icon name="logo-instagram" size="large"></ion-icon> -->
                </a>
                <a href="#"> 
                    <i class="bi bi-twitter"></i>
                    <!--<img class="iRs" src="{{logoTw}}" alt="">-->
                   <!-- <ion-icon name="logo-twitter" size="large"></ion-icon> -->
                </a>
                <a href="#">
                   <!-- <ion-icon name="logo-github" size="large"></ion-icon> -->
                </a>
            </div>
        </div>
    </div>
</footer>
