<h3 class="titulo">Ubica tu sucursal mas cercana</h3>

<div class="float-container">

    <div class="float-child">
        <h3>Suc. Huinalá </h3>
        <p class="direccion">Camino a Dulces nombres #1002 Local 6 Privalia Huinalá, Apodaca NL. </p>
        <button type="button" class="btn"><p> <a href="tel: +81 1098 5068"> <i class="bi bi-telephone-fill"></i> T. Fijo: (81) 1098 5068 </a></p></button>
        <button type="button" class="btn"><p> <a href="tel: +81 2923 9455"> <i class="bi bi-whatsapp"></i> T. Celular: (81) 2923 9455.</a></p></button>
    </div>
    
    <div class="float-child">
        <h3>Suc. Sendero </h3>
        <p class="direccion">Plutarco E. Calles 510 Pensamiento y J. Solis Col. La Nogalera. San Nicolás de los G. </p>
        <button type="button" class="btn"><p> <a href="tel: +81 8302 3000"> <i class="bi bi-telephone-fill"></i> T. Fijo: (81) 8302 3000 </a></p></button>
        <button type="button" class="btn"><p> <a href="tel: +81 2954 5611"> <i class="bi bi-whatsapp"></i> T. Celular: (81) 2954 5611</a></p></button>
    </div>

    <div class="float-child">
        <h3>Suc. Zuazua </h3>
        <button type="button" class="btn"><p> <a href="tel: +81 2947 7537"> <i class="bi bi-whatsapp"></i> T. Celular: (81) 2947 7537</a></p></button>
    </div>

</div>

        <!-- Ubicacion con GMaps-->
<div class="details">
    <details>
        <summary>Mapa de Huinalá </summary>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d57496.93600815007!2d-100.146668!3d25.75211!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd0c20b3f29dc5b5d!2sPlaza%20Acalma%20Huinala!5e0!3m2!1ses!2smx!4v1663036604708!5m2!1ses!2smx" width="150" height="200" class="mapa" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </details>
            
    <details>
        <summary>Mapa de Sendero </summary>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7185.999003922066!2d-100.214392!3d25.77058!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf5166652518a040d!2sPlaza%20Koala!5e0!3m2!1ses!2smx!4v1663039473892!5m2!1ses!2smx" width="150" height="200" class="mapa" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </details>
    
    <details class="mb-5">
        <summary>Mapa de Zuazua </summary>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3590.2293771905483!2d-100.14993188497705!3d25.861926983591335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x48e03ed3e781b7c0!2zMjXCsDUxJzQyLjkiTiAxMDDCsDA4JzUxLjkiVw!5e0!3m2!1ses!2smx!4v1663720593319!5m2!1ses!2smx" width="150" height="200" class="mapa" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </details>
</div>