body {
    background: url("https://bit.ly/3S8y1gi") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 1170px;
}

.imgs {
    background-color: #7ef0bb;
    opacity: 65%;
    height: 600px;
    margin: 10px;
}

.container-carousel {
    width: 45%;
    height: auto;
    background-color: rgb(60, 177, 255);
    margin-left: 35px;
    display: inline-block;
    margin-top: 340px;
}

img {
    opacity: 100% !important;
    position: sticky;
    z-index: -1px;
    height: 300px;
    width: 450px;
    margin: auto;
    margin-bottom: 35px;
}

/*Estilos para forms*/
.container-forms {
    width: 48%;
    background-color: rgb(255, 60, 245);
    margin-right: 10px;
    margin-top: 65px;
    padding-bottom: 40px;
    float: right;
    opacity: 75%;
    height: auto;
}

h3{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
h4 {
    text-align: center;
    color: #fff;
}

h5{
    text-align: center;
    color: red;
    font-size: 25px;
    font-family: serif;
    font-weight: bold;
}

.container-Lg{
    background-color: azure;
    width: 400px;
    padding: 15px;
    margin: 0 auto;
    border-radius: 30px;
    border-color: #444;
}

.container-Datos{
    margin-bottom: 16px;
    width: 100%;
    padding-left: 30px;
}
span > img{
    width: 20px;
    height: 20px;
    margin: 0 auto;
}
.container-Datos>.Apellido{
    padding-right: 20px;
}

.Nombre, .Apellido{
    width: 45%;
    display: inline-block;
    margin-bottom: 30px;
    margin: 5px;
}
/*Estilos para el boton de Google*/
.customGooSignIn {
    display: inline-block;
    background: #fff;
    color: #444;
    width: 190px;
    height: 40px;
    border-radius: 55px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    margin-top: 15px;
    margin-left: 25%;
}

.customGooSignIn:hover {
    cursor: pointer;
}
.googleIcon{
    height: 30px;
    width: 30px;
    margin-top: 2px;
}
.btn-Go{
    margin: 0 auto;
    margin-left: 25%;
    border-color: #444;
    border-radius: 20px;
    height: 50px;
}

span.label {
    font-family: serif;
    font-weight: normal;
}

span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -43px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
/* Styles by button */
.w-300{ 
    width: 300px;
    margin: 0 auto;
}
.btn-sky{
    background-color: rgba(0, 110, 255, 0.795);
    color: #fff;
    margin-left: 25%;
}

.btn-sky:hover{
    background-color: rgba(0,110,255);
    color: #fff;
}
.w-200{
    width: 200px;
}
.link:hover{
    cursor: pointer;
}

/*Media sreen */
@media screen and (max-width: 800px) {
    body{
        height: 1600px;
    }
    .imgs {
        width: auto;
        margin: 0 auto;
    }

    img {
        width: 320px;
        height: 200px;
    }
    .container-carousel{
        margin-top: 90px;
        margin-bottom: 90px;
    }
    .container-forms{
        margin: 30px auto;
    }
    .container-Lg{
        width: 90%;
    }
    h3{
        font-size: 30px;
        margin: 5px;
    }
    h4{
        font-size: 20px;
    }

    .pr{
        font-size: 15px;
    }
}