<header>
  <div class="alert alert-atention alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <strong>¡Atención!</strong> <br> Para poder ordenar en linea por favor <button class="btn btn-primary" routerLink="/LogIn">Inicie Sección</button> 
  </div>
</header>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');
</style>

<div class="menucompleto">
  <img [src]="menuCompleto" alt="Menu Completo">
</div>



<!--
  Algunos de los iconos fueron conseguidos por:
  <a href="https://www.flaticon.com/free-icons/pizza" title="pizza icons">Pizza icons created by Freepik - Flaticon</a>
-->
