<!--Slader Sing Up & Login-->

<body *ngIf="!loading">
    <div id="SeccionMenu" class="imgs container-carousel">
        <div id="carouselExampleControls" class="carousel slide " data-ride="carousel" data-interval="3500">
            <!-- <h2 class="mb-4" style="color: #ff0000" id="typewriter"> Menu</h2> -->
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner container">
                <!-- Primer Banner Pizza Vegetariana-->
                <div class="carousel-item active">
                    <img class="d-block height" [src]="Pizza1" alt="Banner Pizza Vegetariana">
                </div>
                <!-- Segundo Banner  Boneless -->
                <div class="carousel-item ">
                    <img class="d-block height " [src]="Boneless" alt="Banner Boneless">
                </div>
                <!-- Tercero Banner  Complementos -->
                <div class="carousel-item ">
                    <img class="d-block height " [src]="Complementos" alt="Banner Complementos">
                </div>
            </div>
        </div>
    </div>
    <!--Slader Fin-->

    <!--Forms de Login-->
    <div class="imgs container-forms">
        <h3 class="mt-5">Bienvenido de nuevo</h3>
        <h4 class="mb-5">¿Listo para comer?</h4>

        <div class="container-Lg">
            <h5 class="pt-4">Iniciar Sección</h5>
            <form (ngSubmit)="login()" [formGroup]="loginUsuario">
                <hr>
                <div class="form-floating mb-3 w-300">
                    <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
                    <label>Correo Electrónico </label>
                    <span *ngIf="loginUsuario.get('email')?.hasError('required') && loginUsuario.get('email')?.touched" class="text-danger errorLabel">
                        <img [src]="errorIcon" class="errorIcon">
                        El <strong>Correo</strong> es requerido
                    </span>
                    <span *ngIf="loginUsuario.get('email')?.hasError('email') && loginUsuario.get('email')?.touched" class="text-danger errorLabel">
                        <img [src]="errorIcon" class="errorIcon">
                        El dominio del <strong>Correo</strong> es invalido
                    </span>
                </div>

                <div class="form-floating mb-3 w-300">
                    <input type="password" class="form-control" formControlName="password" placeholder="Password" id="exampleInputPassword1">
                    <label>Contraseña</label>
                    <span *ngIf="loginUsuario.get('password')?.hasError('required') && loginUsuario.get('password')?.touched" class="text-danger errorLabel">
                        <img [src]="errorIcon" class="errorIcon">
                        La <strong>password</strong> es requerida
                    </span>
                    <span *ngIf="loginUsuario.get('password')?.hasError('minlength') && loginUsuario.get('password')?.touched" class="text-danger errorLabel">
                        <img [src]="errorIcon" class="errorIcon">
                        La <strong>Contraseña</strong> debe tener como minimo 6 caracteres
                    </span>
                </div>
                <hr>
                <!--Btn Google-->
                <div class="form-group">
                    <p class="text-center h5 font-weight-bold text-danger">Inicia Seccion con Google</p>
                    <button (click)="signInWithGoogle()" class="btn btn-Go mb-3">
                        <img [src]="googleIcon" alt="Google Logo" class="googleIcon">
                        <span class="buttonText ">
                            <p class="d-inline" style="color: #4285F4; ">G</p>
                            <p class="d-inline" style="color: #DB4437;">O</p>
                            <p class="d-inline" style="color: #F4B400">O</p>
                            <p class="d-inline" style="color: #4285F4">G</p>
                            <p class="d-inline" style="color: #0F9D58">L</p>
                            <P class="d-inline" style="color: #DB4437;">E</P>
                        </span>
                    </button>
                </div>
                <hr>

                <button type="submit" [disabled]="loginUsuario.invalid" class="btn btn-sky btn-lg mb-3 w-200">Ingresar</button>
                <p class="font-weight-bold pr text-center">¿No tienes cuenta? <a [routerLink]="['/Registrate']">Registrar</a></p>
                <p class="font-weight-bold pr text-center">¿No recuerdas tu contraseña? <a
                        routerLink="/RecoveryPassword"> <br> Recuperar Contraseña</a></p>
            </form>
        </div>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
</body>
