.imgicon{
    width: 200px;
    height: 200px;
}
input{
    width: 70%;
    margin: 0 auto;
}
label{
    text-align: center;
    margin-left: 20%;
}
.btn-sky{
    background-color: rgba(0, 110, 255, 0.795);
    color: #fff;
}
.btn-sky:hover{
    background-color: rgba(0,110,255);
    color: #fff;
}
.w-200{
    width: 200px;
}