<div class="wrapper">
    <div *ngIf="!loading" class="body">
        <img class="mb-0 imgicon" [src]="recovery_icon" alt="login icon">
        <h1 class="text-danger mb-3">Recovery</h1>

        <form (ngSubmit)="recovery()" [formGroup]="recoveryPassword">
            <div class="form-floating mb-3 w-300 ">
                <input type="email" class="form-control" formControlName="email" placeholder="name@example.com">
                <label>Correo Electronico</label>
                <span *ngIf="recoveryPassword.get('email')?.hasError('required') && recoveryPassword.get('email')?.touched" class="text-danger errorLabel">
                    <img [src]="errorIcon" class="errorIcon">
                    El <strong>Correo</strong> es requerido
                </span>
                <span *ngIf="recoveryPassword.get('email')?.hasError('email') && recoveryPassword.get('email')?.touched" class="text-danger errorLabel">
                    <img [src]="errorIcon" class="errorIcon">
                    El dominio del <strong>Correo</strong> es invalido
                </span>
            </div>
            <button type="submit" [disabled]="recoveryPassword.invalid" class="btn btn-sky btn-lg mb-3 w-200">Recuperar</button>
            <p class="mb-4"><a routerLink="/login">volver</a></p>
        </form>
    </div>
</div>

<app-spinner *ngIf="loading"></app-spinner>