/* You can add global styles to this file, and also import other style files */
.wrapper{
    text-align: center;
    width: 500px;
    height: auto;
    margin: 0 auto;
    background-color: rgb(147, 209, 233);
}

@media screen and (max-width: 800px) {
    .wrapper{
        width: 80%;
    }
}